<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <!--<add name="terrible1ConnectionString" connectionString="Data Source=122.2.8.141;Initial Catalog=terrible1;Persist Security Info=True;User ID=sqladmin;Password=P@ssw0rd" providerName="System.Data.SqlClient" />-->
    <!--<add name="terrible1ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=terrible1;Trusted_Connection=Yes;" />-->
    <!--<add name="terrible1ConnectionString" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AB467_gelangel;User Id=DB_9AB467_gelangel_admin;Password=Pu3zK@U!;" />
    <add name="ApplicationServices" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AB467_gelangel;User Id=DB_9AB467_gelangel_admin;Password=Pu3zK@U!;"/>-->
    <!--<add name="terrible1ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=PPMDB;Trusted_Connection=Yes;" />-->
    <add name="terrible1ConnectionString" connectionString="Server=192.168.254.105\SQLEXPRESS;Database=PPMDB;User Id=gelan; Password=P@ssw0rd;" />
    <add name="ApplicationServices" connectionString="Server=192.168.254.105\SQLEXPRESS;Database=PPMDB;User Id=gelan; Password=P@ssw0rd;" />
    <!--<add name="ApplicationServices" connectionString="Server=.\SQLEXPRESS;Database=PPMDB;Trusted_Connection=Yes;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Contents" value="http://localhost:25239/terrible1/repository/" />
    <!--<add key="repository" value="C:\Documents and Settings\CAFE MANILA SERVER\Desktop\GELAN\terrible1\repository\" />-->
    <add key="repository" value="C:\Documents and Settings\CAFE MANILA SERVER\Desktop\GELAN\Dish\PPM\20131015\terrible1\repository\" />
    
    <add key="URL" value="http://localhost:25239/terrible1/repository/" />
    <add key="URLBasic" value="http://localhost:25239/terrible1" />
    <!--<add key="terrible1ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=PPMDB;Trusted_Connection=Yes;" />-->
    <add key="terrible1ConnectionString" value="Data Source=192.168.254.105\SQLEXPRESS;Database=PPMDB;User Id=gelan; Password=P@ssw0rd;" />
    
  </appSettings>
  <system.web>
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
 
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <remove name="AspNetSqlProvider" />
        <add name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="terrible1ConnectionString"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          passwordFormat="Hashed"
          applicationName="/" />
      </providers>
    </membership>-->

    <httpRuntime
executionTimeout="360000"
maxRequestLength="512000"
useFullyQualifiedRedirectUrl="false"
minFreeThreads="8"
minLocalRequestFreeThreads="4"
appRequestQueueLimit="100"
enableVersionHeader="true" requestValidationMode="2.0"
/>
    <!--<customErrors mode="Off"/>-->
    <customErrors defaultRedirect="~/CustomPage.aspx"  mode="On" ></customErrors>
    <sessionState  timeout="60"></sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>